<body *ngIf="hasRoute('/pagina4')">
    <div class="textopag4">
        <h1>Tecnologias</h1>
        <br> <br>
        <h1>python ***</h1>
        <h1>javascript **</h1>
        <br>
        <h1>c#: ***</h1>
        <br>
        <h1>visual studio: ***</h1>
        <br>
        <h1>ruby: **</h1>
        <br>
        <h1>html css: **</h1>
    </div>

    <div class="imgpag4">
        <div class="visual"><img src="assets/image/vslstudio.png" alt="image"></div>
        <div class="csharp"><img src="assets/image/csharp.png" alt=""></div>
        <div class="ruby"><img src="assets/image/ruby.png" alt=""></div>
        <div class="python"><img src="assets/image/bxl-python.png" alt=""></div>
        <div class="javascript"><img src="assets/image/bxl-javascript.png" alt=""></div>
    </div>
    <router-outlet></router-outlet>
</body>