<header *ngIf="hasRoute('/pagina3')">
    <title>Portoflio Lautaro Castellanos Pagina 3</title>
    <div class="imgpag3"> <img src="assets/image/codigo_fuente.jpg" alt="no se encontro "></div>
    <div class="contpag3">
        <h1>Carrera en tecnicatura en programacion</h1>
        <h1>Estudios realizados en el Instituto Tecnico Superior Cordoba</h1>
        <h1>Tecnico Superior en desarollo de software</h1>
        <br>
        <br>
        <h1>Curso nacional de argentina YoProgramo y SeProgramar completado</h1>
    </div>

    <router-outlet></router-outlet>
</header>