<body *ngIf="hasRoute('/pagina2')">
    <router-outlet></router-outlet>
    <title>Portoflio Lautaro Castellanos pagina 2</title>
    <div class="contenedorpag2">
        <h1>Lautaro Maximiliano Castellanos Molina 
            programador residente en Argentina Cordoba Capital <br>
            <br>
            programador junior programando desde 2019
            <br>
            <br>
            <br>
            contacto mediante correo electronico:
            laumol159@gmail.com
        </h1>
    </div>

    <div class="imagenperfil">
        <h1>imagen pendiente</h1>
    </div>
</body>