body {
  overflow: hidden;
  display: flex;
  
}
.contenedorpag2 {
    color: #cacaca;
    box-shadow: 5px 8px 12px black;
    margin-top: 100px;
    margin-left: 100px;
    width: 510px;
  }
.imagenperfil {
    color: #cacaca;
    position: fixed;
    margin-top: -300px;
    margin-left: 950px;}